{
  "extends": "airbnb",
  "rules": {
    // for `Link` jsx element of router.
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": false
  },
  "env": {
    "browser": true,
    "node": true
  }
}
